<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sourabh Dattawad's Website">
    <title>Sourabh Dattawad - I REACT in JS</title>
</head>
<body>
	{{>common/jslinks}}
	{{>common/csslinks}}

    {{{body}}}
    {{>common/footer}}

</body>
</html>