<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large  top-nav full  " ><i class="material-icons orange600" >menu</i></a>
      <span style="float:right">
      <a href="/" ><i class="material-icons">home</i></a>
    </span>
    </div>
  </div>
</nav>

<ul id="nav-mobile" class="side-nav ">
  <li class="bold"><h3>Categories</h3></li>
  <li class="search">
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input placeholder="Search"id="search" type="search" style="background-color:white;" required >
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </li>
  {{#each category}}
  <li class="bold"><a href="/blog/{{name}}/" class="waves-effect waves-orange">{{name}}</a></li>
  {{/each}}
  
</ul>
<div class="parallax-container">
    <div class="parallax"><img src="/images/bokeh.jpg"></div>
  </div>
  <div class="section white">
    {{!-- <div class="container"> --}}
    <div class="row container">
      <h2 class="header">{{blog.title}}</h2><div class="fb-share-button" 
    data-href="" 
    data-layout="button_count">
   </div>
      <p class="grey-text text-darken-3 lighten-3">{{{blog.description}}}</p>
    </div>

 {{!-- </div> --}}
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/parallax2.jpg"></div>
  </div>