{{>blog-nav}}
<div class="row" style="margin-top:100px;">
	<h5 class="center-align">Add Category</h5>
	<div class="container">
		<div class="center-align">
			<form method="post" action="/update/blog/category/add">
			 <div class="row">
			    <div class="input-field col s12">
			      <input value="" id="category" type="text" class="validate" name="category">
			      <label class="active left-align" for="Category" >Category</label>
			    </div>
			  </div>
			  <button class="btn waves-effect waves-light" type="submit" >Add
    			<i class="material-icons right">send</i>
  			</button>
			</form>
		</div>
	</div>
</div>
