      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
        </div>
      </nav>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold"><h3>Categories</h3></li>
        <li class="search">
          <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input placeholder="Search"id="search" type="search" style="background-color:white;" required >
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
        </li>
        <li class="bold"><a href="#" class="waves-effect waves-yellow">Travel</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-yellow">Technology</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-yellow">Happenings</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-yellow">Random</a></li>
        <li class="bold"><a href="/" class="waves-effect waves-yellow">Home</a></li>
      </ul>