<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
          	<a href="#" data-activates="nav-mobile" class="button-collapse show-on-large top-nav full "><i class="material-icons" >menu</i>
          	</a>
          </div>
        </div>
</nav>
  <ul id="nav-mobile" class="side-nav">
    <li class="bold"><a href="#about" class="waves-effect waves-orange">About</a></li>
    <li class="bold"><a href="#opensource" class="waves-effect waves-orange">Open Source & projects</a></li>
    <li class="bold"><a href="#resume" id="resume" class="waves-effect waves-orange" onclick="getResume();">Resume</a></li>
    <li class="bold"><a href="#contact" class="waves-effect waves-orange">Contact</a></li>
    <li class="bold"><a href="/blog" class="waves-effect waves-orange">Blog</a></li>
  </ul>
