

<footer class="page-footer"  style="background-color:#ffffff; ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        {{!-- <h5 class="black-text">I'm social</h5> --}}
        <p class="black-text text-lighten-4 social-icons">I'm social<br><a href="https://in.linkedin.com/in/sourabhdattawad" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="color:#0077B5s"></i></a>
  {{!-- <a href="https://github.com/sourabhdattawad" target="_blank"><i class="fa fa-github" aria-hidden="true" style="color:#666666"></i></a> --}}
  <i class="fa fa-instagram" aria-hidden="true" style="color:#e1306c"></i>
  <a href="https://www.facebook.com/sourabh.dattawad"><i class="fa fa-facebook" aria-hidden="true" style="color:#3b5998"></i></a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a class="blue-text text-lighten-3" href="https://www.hackerearth.com/@sourabhdattawad" target="_blank">HackerEarth</a></li>
          <li><a class="blue-text text-lighten-3" href="https://github.com/sourabhdattawad" target="_blank">GitHub</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align black-text">
    Materialized with <span style="font-size:30px; color:#FF0066">&#9829</span> by Sourabh
    </div>
  </div>
</footer>
