{{!-- <nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large  top-nav full  "><i class="material-icons">menu</i></a>
    </div>
  </div>
</nav>
 --}}
{{!-- <ul id="nav-mobile" class="side-nav ">
  <li class="bold"><h3>Categories</h3></li>
  <li class="search">
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input placeholder="Search"id="search" type="search" style="background-color:white;" required >
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </li>
  <li class="bold"><a href="/update/blog/category/" class="waves-effect waves-teal">Add Category</a></li>

  <li class="bold"><a href="about.html" class="waves-effect waves-teal">Travel</a></li>
  <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Technology</a></li>
  <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Happenings</a></li>
  <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Random</a></li>
  
</ul> --}}