<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
          	<a href="#" data-activates="nav-mobile" class="button-collapse show-on-large top-nav full waves-effect waves-yellow"><i class="material-icons" >menu</i>
          	</a>
          </div>
        </div>
</nav>
  <ul id="nav-mobile" class="side-nav">
    <li class="bold"><a href="/update/about" class="waves-effect waves-yellow">About</a></li>
    <li class="bold"><a href="/update/projects" class="waves-effect waves-yellow">Open Source & projects</a></li>
    <li class="bold"><a href="#resume" class="waves-effect waves-yellow">Resume</a></li>
    <li class="bold"><a href="#contact" class="waves-effect waves-yellow">Contact</a></li>
    <li class="bold"><a href="/update/blog" class="waves-effect waves-yellow">Blog</a></li>

    <li class="bold"><a href="/update/view" class="waves-effect waves-yellow">View Profile</a></li>
  </ul>
